.steps-container {
  max-width: 300px;
  margin: auto;
  margin-top: 2rem;
}

.steps-container p {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
