:root {
  --bg-dark: rgb(42, 48, 60);
  --white: #fff;
  --black: #000;
}

.container {
  height: 100%;
  width: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.dark {
  background: var(--bg-dark);
}

p {
  margin: 0;
  margin-bottom: 1rem;
}
p.light {
  color: var(--black);
}
p.dark {
  color: var(--white);
}

.switch-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: var(--black);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
